<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/plateformeanimationterritoire/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/plateformeanimationterritoire/css/bootstrap.min.css') }}"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('drug.jpg') }}" />
</head>
<body>

{% block navbar %}
    {{  include("::navbar.html.twig") }}
{% endblock %}
{% block body %}{%  endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/plateformeanimationterritoire/js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plateformeanimationterritoire/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/plateformeanimationterritoire/js/chat.js') }}"></script>
{% endblock %}

</body>
</html>
