<span><h1>Plateforme Animation</h1></span>
<br/>
<div class="custom" align="center">
    <a href="{{ path('fos_user_security_logout') }}">
    <button>Accueil</button></a>
    <a href="{{ path('fos_user_security_logout') }}">
    <button>Chantier</button></a>
        <a href="{{ path('fos_user_security_logout') }}">
    <button>Parametres</button></a>
    <a href="{{ path('fos_user_security_logout') }}">
        <button>Boite a outils</button></a>
    <a href="{{ path('fos_user_security_logout') }}">
        <button class="deco">Deconnexion</button></a>
    <a href="{{ path('fos_user_security_logout') }}">
</div>