{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}




{% block fos_user_content %}
    <link rel="stylesheet" href="{{ asset('bundles/plateformeanimationterritoire/css/login.css') }}"/>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


    <span>
    <h1>Animation Territoire</h1>
    </span>
        <br/>
    <div class="contour">
    <form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="fos_user_registration_form_email" class="required">Adresse e-mail :</label>
    <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
    <br/>
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input class="envoyer" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

</form>

</div>

    <br/><br/>
<center>
    <p>La plateforme d'animation du territoire, qu'est-ce que c'est ?</p>
    <br/>
    <p>Si vous souhaitez vous inscrire, contacter nous au 0666666666 ou par mail à animation@territoire.fr</p>
    <br/>

    <img src="{{ asset('society.jpg') }}" alt="society"/>
</center>
{% endblock fos_user_content %}
