{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste de mes groupes : </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('groupe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('groupe_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('groupe_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <ul>
        <li>
            <a href="{{ path('groupe_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <button class="chat-open">CHAT</button><br/><br/><br/>
    <div class="chat"><p>Utilisateurs connectés :</p></div><br/>
    <button class="map-open">CARTE</button><br/><br/><br/>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18164.20364757011!2d1.016409405464069!3d48.47055808607366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f93cc28e5b%3A0x6ed6fb7657b76f29!2s28240+La+Loupe!5e1!3m2!1sfr!2sfr!4v1426177104111"
            width="400" height="250" frameborder="0" style="border:0"></iframe>
    {% endblock %}
